%h1 Приглашение вступить в организацию

%p #{@greeting}, #{@user.name}!
%p Пользователь #{@inviter.name} пригласил Вас присоедениться к сервису Organizer и вступить в организацию #{@inviter.organization.name}.
%p Если это письмо Вам не предназначено, то просто проигнорируйте его.
%p Чтобы вступить в организацию, перейдите по #{link_to "ссылке", edit_user_url(@user.id)} и подтвердите приглашение.

