<!DOCTYPE html>
<html>
<head>
  <title><%= title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
<div class="flash">
  <% flash.each do |key, value| %>
    <div class="col-sm-offset-4 col-sm-4 text-center alert alert-<%=key%>" >
    	<%= value %>
    </div>
  <% end %>
</div>
<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
<%= yield %>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
